VITE_SUPABASE_URL=https://gpaykyxwmouwadgmfnil.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VNfyswX-5YqFzyG7lMlTBQ_fF8yM4Hz
NEXT_PUBLIC_SUPABASE_URL=https://gpaykyxwmouwadgmfnil.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VNfyswX-5YqFzyG7lMlTBQ_fF8yM4Hz

